.contentTable { 
	margin-top: 0px;
}
.contentCell {
	border-style: none;
}
.contentTopMenuCell {
	border-style: none;
}
.contentTrackMapCell {
	border-style: none;
}
.contentMapTableFull {
	margin-top: 0px;
	height: 100%;
}
.contentTrackMapCellFull {
	border-style: none;
}

.navBar { 
  font-size: 10pt; 
  padding-bottom: 1px; 
  background-color: #EFEFEF; 
  /* border-top: solid #555555 1px; */
  border-bottom: solid #555555 1px;
}

.navBarLogo {
	width: 197px;
	height: 60px;
	background: url(../images/Logo-top.gif) top left no-repeat;
}

.navBarBanner {
	width: 486px;
	height: 60px;
	background: url(../images/banner.jpg) top right no-repeat;
}
.navBarDisconnect {
	height: 60px;
	color:#fff;
	background-color: #000;
	padding: 10px;
	vertical-align: center;
	font-size:0.8em;
}
.navBarDisconnect a{
	color:#fff;
}
.navBarDisconnect a:hover{
	color:#37c0d1;
}
.navBarDisconnect a:active{
	color:#37c0d1;
}


TD.footerTraq {
	font-size:0.6em;
	border-top: 6px solid #37c0d1;
	color: #fff;
	height: 32px;
	width: 100%;
	text-align: center;
	background: url(../images/menu-black-background.gif) top left repeat-x;
}

TD.footerTraq a{
	color:#fff;
	text-decoration: none;
}
TD.footerTraq a:hover{
	color:#fff;
	text-decoration: underline;
}
TD.footerTraq a:active{
	color:#37c0d1;
	text-decoration: underline;
}

TD.footerTextTraq{
	font-size:0.6em;
	border-top: 6px solid #37c0d1;
	color: #fff;
	height: 32px;
	width: 100%;
	text-align: center;
	background: url(../images/menu-black-background.gif) top left repeat-x;
}

TD.menuLogoTraq{
	height:32px;
	width: 195px;
	margin: 0;
	padding: 0;
	background: url(../images/Logo-bot.gif) top left no-repeat;
}
TD.menuLeftTraq{
	height:32px;
	width: 54px;
	margin: 0;
	padding: 0;
	background: url(../images/menu-left.gif) top left no-repeat transparent;
}

TD.menuMidTraq{
	height:32px;
	width: 47px;
	margin: 0;
	padding: 0;
	background: url(../images/menu-mid.gif) top left no-repeat;
}

TD.menuFondTraq{
	background: url(../images/menu-black-background.gif) top left repeat-x;
	}

TD.menuLoginTraq{
	color : #fff;
	height:32px;
	width:50%;
	background: url(../images/menu-blue-background.gif) top left repeat-x;
}
TD.menuRightTraq{
	height:32px;
	background: url(../images/menu-black-background.gif) top left repeat-x;
}

TD#menuLigneTraq{
	border-top: 0px solid white;
	height: 6px;
	width: 100%;
	background-color: #37c0d1;
}

