<?xml version="1.0" encoding="ISO-8859-15"?>

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1/inspectboxsa?autoReconnect=true</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.connection.password">Lyonpartdieu69</property>
  <property name="hibernate.connection.pool_size">10</property>
  <property name="show_sql">false</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.cache.use_query_cache">false</property>
  


  

  <property name="format_sql">true</property>
  <property name="use_sql_comments">true</property> 
   
  <mapping class="com.inspectbox.model.Choix"/>
  <mapping class="com.inspectbox.model.Client"/>
  <mapping class="com.inspectbox.model.Droitutilisateur"/>
  <mapping class="com.inspectbox.model.Niveau"/>
  <mapping class="com.inspectbox.model.Niveauobjet"/>
  <mapping class="com.inspectbox.model.Typereponse"/>
  <mapping class="com.inspectbox.model.Utilisateur"/>
  <mapping class="com.inspectbox.model.Inspection"/>
  <mapping class="com.inspectbox.model.Libelleniveau"/>
  <mapping class="com.inspectbox.model.Synch"/>
   <mapping class="com.inspectbox.model.Terminal"/>
  <mapping class="com.inspectbox.model.Codebarretmp"/>
  <mapping class="com.inspectbox.model.Team"/>
  <mapping class="com.inspectbox.model.Statut"/>
  <mapping class="com.inspectbox.model.Objeteam"/>
  <mapping class="com.inspectbox.model.Import"/>
  <mapping class="com.inspectbox.model.SynchPK"/>
 </session-factory>
</hibernate-configuration>
